body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #2d303f;
	color: #fff;
	height: 2rem;
}
header div.container {
	display: flex;
	justify-content: space-between;
	height: 2rem;
	align-items: center;
}
nav {
	background-color: #fff;
	height: 80px;

	flex-direction: row;
}

.menu-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	height: inherit;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li {
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: #2c3e50;
	font-weight: bold;
}

nav a:hover {
	/* color: tomato; */
	text-decoration: none;
	border-bottom: 3px solid tomato;
	padding-bottom: 24px;
}

.logo {
	display: flex;
	align-items: center;
}
.logo p {
	margin: auto;
	color: #0bc0e0;
	font-weight: bold;
}
.logo img {
	height: auto;
	width: 60px;
	margin-right: 10px;
	border-radius: 50%;
}

.main {
	flex: 1;
	background-image: url(/img/two-seasons-coron-island.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: max-content;
}

.login {
	position: relative;
}

.login-options {
	position: absolute;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	width: 160px;
	text-align: center;
	opacity: 0;
	transition: opacity 0.6s ease-in-out;
	margin-top: 32px;
}

.login-options.show {
	opacity: 1;
}

#loginOptionsSection.show {
	opacity: 1;
}

.login-options a {
	padding: 10px;
	color: #333;
	text-decoration: none;
	display: block;
	transition: background-color 0.3s;
}

.login-options a:hover {
	background-color: #0bc0e0;
	border-radius: 10px;
	border-bottom: none;
	padding: 10px;
}

footer {
	background-color: #34495e;
	color: #fff;
	text-align: center;
	padding: 2em 0;
	width: 100%;
}

.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 20px;
}

.footer-content p {
	margin: 0;
}

.social-icons img {
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
.social-icons {
}
.social-icons i {
	padding-inline: 5px;
}

.burger-menu {
	display: none;
	cursor: pointer;
	order: 2;
}
header i:hover {
	color: tomato;
}
@media screen and (max-width: 768px) {
	.burger-menu {
		display: flex; /* Show burger menu */
		cursor: pointer;
	}

	.menu-logo {
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
	}
	.nav-list {
		display: none; /* Hide navigation list initially */
		flex-direction: column;
		align-items: baseline;
		position: absolute;
		max-width: 320px;
		height: 100%;
		left: -100%;
		width: 90%;
		background-color: #fff;

		opacity: 0; /* Start with opacity set to 0 */
		transition:
			left 2s ease,
			opacity 2s ease; /* Added opacity transition */
	}

	.nav-list.show {
		display: flex;
		justify-content: start;
		padding-left: 15px;
		left: 0;
		bottom: 0;
		width: 90%;
		opacity: 1; /* Show the menu with full opacity */
	}

	.nav-list.show a:hover {
		color: tomato;
		text-decoration: none;
		padding: 10px;
		border: 0;
		background-color: #fafafa;
	}
	/* Additional styling for your navigation items */
	.nav-list li {
		text-align: center;
		padding: 10px 0;
	}
}
